@font-face {
    font-family: "Roboto";
    src: url("css/Roboto/Roboto-Bold.ttf")
}

@font-face {
    font-family: "Open_Sans";
    src: url("css/Open_Sans/Open_Sans-SemiBold.ttf")
}

h1 {
    font-size: 30px;
}

b {
    font-size: 20px;
    color: navy;
}

body {
    text-align: left;
    padding: 10px;
    font-family: "Open_Sans", sans-serif;
    color: navy;
    text-align: left;
    font-size: medium;
}

.header {
    text-align: center;
    padding: 20px;
    background: #AAB7B8;
    font-family: "Roboto", sans-serif;
    color: navy;
    font-size: 50px;
}

.pad {
    background: white;
    padding: 15px;
    visibility: hidden;
}

.link-holder {
    background: #D35400;
    padding: 5px;
}

.quals-holder {
    background: #3498DB;
    padding: 5px;
}

.hobbies-holder {
    background: #2ECC71;
    padding: 5px;
}
