body {
    background-color: #101010;
}

#customText {
    color: red;
}

h1 {
    color: #c2c2c2;
    text-align: center;
}

p {
    color: green;
}

li {
    color: green;
}

b {
    color: pink;
}
